extend layout

block namesite
   | angie's look

block author
   | anais angela lee

block logo
  | logo goes here!

block content
  p.hello
    | HI THERE! 
  p
    | My name is anais, or Angela - not for short, but definitely easier. I'm a full time computer science engineering student at the University of Pennsylvania, and a part time fashion designer. I have a very diverse set of interests...explore below! Of course, I'd love to hear your thoughts! Feel free to contact me with questions, compliments, criticism, thoughts, etc.!

block leaficon
  a
    img(src='../public/images/PNG/leaf.png',border=0, width=100, height=55)

block sidebar
  .widget
    p1
      | Scroll down, or navigate using the menu to the right!
    p
      | email: anaislee@seas.upenn.edu
    p
      | cell: (703) 309 1339

block test
  p
    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

    | My name is anais, or Angela - not for short, 
    | but definitely easier. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 