extend layout

block name
  | anais angela lee

block logo
  | logo goes here!

block content
  p
    | angela's page

  p
    | HI THERE! My name is anais, or Angela - not for short, 
    | but DEF EASIER. I'm a full time computer science engineering 
    | student at the University of Pennsylvania, and a part time fashion designer. 
    | I have a very diverse set of interests...explore below! 
    | Of course, I'd love to hear your thoughts! Feel free to contact me with 
    | questions, compliments, criticism, thoughts, etc.! 

  p
    | Below are both links that redirect the page to the 
    | corresponding installation links for the HD and SD simulators.

block sidebar
  .widget
    h1 Widget
    p
      | For questions or concerns, please contact 
      | Customer Service at either of the following:
    p
      | Email: ____
    p
      | Phone: _____