doctype
html
  head
    title #{title} - Angela Lee
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    header
      div.title.animated.bounceInUp
        | anais ANGELA lee

    info
      .container
        .logo
          block logo
        .main-content
          block content
        .sidebar
          block sidebar
    footer
      | anais AngelA lee designs 2015