doctype
html
  head
    title #{title} - anais angela lee
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/wow.js')
    script(src='stylesheets/wow.js')
      new WOW().init()
    script

  body

    header
      div.sitename.animated.swing
        block namesite
      div.myname.animated.bounceInUp
        block author

    info
      .container
        .logo
          block logo 
        .main-content
          block content

      .navigator
        .dynamicon
          block leaficon
        .sidebar
          block sidebar
      div.wow
        .menubutton
         | menu
        

    footer
      .designer
        | anais angela lee designs 2015

      .test 
        block test