/*
 * Import nib
 */
/***********************************************************************************
*************** FONTS **************************************************************
************************************************************************************/
@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=NewsCycle");
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: Wayback;
  src: url("Wayback.ttf");
}
@font-face {
  font-family: JungleCat;
  src: url("JungleCat.ttf");
}
/***********************************************************************************
*********** GLOBAL PROPERTIES ****************************************************
************************************************************************************/
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
/***********************************************************************************
*********** CONTENT ***************************************************************
************************************************************************************/
body {
/* transparent background for info section */
  filter: alpha opacity 90%;
  background-color: #fff;
  color: #444;
  height: 100%;
  padding-top: 200px;
}
header {
  height: 700px;
/* transparent background for info section */
  filter: alpha opacity 90%;
  text-align: center;
}
.sitename {
  height: 200;
  font-size: 80px;
  color: #99c;
  font-family: JungleCat;
}
.myname {
  height: 400px;
  font-size: 50px;
  color: #000;
  font-family: Wayback;
}
h1 {
  padding-left: 100px;
  vertical-align: center;
}
info {
  width: 100%;
  color: #000;
/* transparent background for info section */
  filter: alpha opacity 90%;
}
.container {
  font-family: Quicksand;
  margin-top: 30px;
  width: 50%;
  margin: 50px auto;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word; /* IE 5+ */
}
.main-content {
  float: left;
  margin-top: 20px;
  width: 550px;
}
.main-content p {
  margin-bottom: 20px;
  font-family: Quicksand;
  font-size: 18px;
}
.main-content p.hello {
  font-family: JungleCat;
  font-size: 20px;
}
/***********************************************************************************
*************** SIDEBAR STYLE *******************************************************
************************************************************************************/
.navigator {
  margin: 50px auto;
  width: 50%;
  height: 300px;
  test-color: #000;
  overflow: hidden;
  display: table-row;
}
.navigator .dynamicon {
  padding-left: 100px;
  display: table-cell;
}
.navigator .sidebar {
  text-align: center;
  width: 200px;
  height: 220px;
  float: right;
  display: table-cell;
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 5px outset #ccc;
  font-family: Wayback;
  font-size: 20px;
  margin-left: 20px;
  background-color: backgroundE-color;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.navigator .sidebar p1 {
  font-family: JungleCat;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigator .sidebar p {
  font-family: Quicksand;
  font-size: 10px;
}
.menubutton {
  float: right;
  margin-right: 100px;
  height: 30px;
  width: 30px;
  background-color: #000;
  position: scroll;
}
/***********************************************************************************
***************** FOOTER **********************************************************
************************************************************************************/
footer {
  font-family: Wayback;
  margin: 50px auto;
  padding-top: 5px;
  font-size: 15px;
}
.test {
  font-family: Quicksand;
  width: 200px;
  margin: 50 px auto;
}
/***********************************************************************************
************** ALTERNATE MEDIA  *******************************************************
************************************************************************************/
/* This simple media query makes the column layout
   linear on smaller screens */
@media (max-width: 900px) {
  body {
    width: 100%;
  }
  header,
  info,
  footer {
    width: auto;
    margin-bottom: 20px;
    float: none;
  }
}
