// animations to try:
// http://tutorialzine.com/2013/10/12-awesome-css3-features-you-can-finally-use/
  // image rotating (3d presentation for front and back of images)
  // animations
  // 
// https://clippingmagic.com/ for image background clipping 

/*
 * Import nib
 */
@import 'nib'

/***********************************************************************************
*************** FONTS **************************************************************
************************************************************************************/

@import url('http://fonts.googleapis.com/css?family=Raleway')
@import url(http://fonts.googleapis.com/css?family=News+Cycle)
@import url('http://fonts.googleapis.com/css?family=Quicksand')

@font-face {
  font-family: Wayback
  src: url(Wayback.ttf) 
}

@font-face {
  font-family: JungleCat
  src: url(JungleCat.ttf)
}

/***********************************************************************************
*********** GLOBAL PROPERTIES ****************************************************
************************************************************************************/

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #505050
background-color = #fff


/***********************************************************************************
*********** CONTENT ***************************************************************
************************************************************************************/
body
  /* transparent background for info section */
  filter: alpha opacity 90%   
  background-image url("../images/kindajean.png") 
  color #444
  height 100%
  padding-top 200px

header
  height 400px
  /* transparent background for info section */
  filter: alpha opacity 90%    
  text-align center

.sitename
  height: 100px
  font-size 80px
  color #9999CC
  font-family: JungleCat

.myname
  height: 100px
  font-size 50px
  color black
  font-family: Wayback

h1 
  padding-left 100px
  vertical-align center

info
  width 100%
  color black
  /* transparent background for info section */
  filter: alpha opacity 90%   

.container
  font-family: Quicksand
  width 50%
  margin 50px auto
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */      
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */

.main-content
  float left
  width 550px

  p
    margin-bottom 20px
    font-family: Quicksand
    font-size 18px

  p.hello
    font-family JungleCat
    font-size 20px



/***********************************************************************************
*************** SIDEBAR STYLE *******************************************************
************************************************************************************/

.navigator
  margin 50px auto
  width 50%
  height 300px
  test-color black
  overflow hidden
  display table-row

  .dynamicon
    padding-left 100px
    display table-cell

  .sidebar

    text-align center
    width 200px
    height 220px
    float right
    display table-cell
    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 4px
    border 5px outset #ccc
    font-family Wayback
    font-size 20px
    margin-left 20px
    background-color backgroundE-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    p1
      font-family JungleCat
      font-size 15px
      margin-top 10px
      margin-bottom 10px

    p 
      font-family Quicksand
      font-size 10px

.menubutton
  float right
  margin-right 100px
  height 30px
  width 30px
  background-color #000000 
  position scroll


/***********************************************************************************
***************** FOOTER **********************************************************
************************************************************************************/
footer
  margin 50px auto
  text-align center

.designer
  float left
  font-family Wayback
  padding-top 5px
  font-size 15px

.test 
  float right
  font-family Quicksand
  width 200px
  margin 50 px auto
  clear both









/***********************************************************************************
************** ALTERNATE MEDIA  *******************************************************
************************************************************************************/
  /* This simple media query makes the column layout
   linear on smaller screens */

@media (max-width:900px){

  body{
    width:100%;
  }

  header, info, footer{
    width:auto;
    margin-bottom:20px;
    float:none;
  }
}